QMainWindow, QDialog {
    background-image: url(assets/images/background_dark.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* ===== GENERAL WIDGETS ===== */
QWidget {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 10pt;
}

/* ===== BUTTONS ===== */
QPushButton {
    padding: 6px 12px;
    min-width: 80px;
    max-width: 150px;
    font-weight: 500;
    background-color: #2c2c2c;
    color: white;
    border: 1px solid #2c2c2c;
	border-radius: 0;
}

QPushButton:hover {
    background-color: #3b8fad;
	border: 1px solid #3b8fad;
}

QPushButton:pressed {
    background-color: #1f5366;
	border: 1px solid #1f5366;
    margin-top: 2px;
    margin-bottom: -2px;
}

QPushButton:disabled {
    background-color: #1c1c1c;
    color: #7d7d7d;
    border: 1px solid #242424;
    border-radius: 0;
}

#search_btn {
    background-color: #2c2c2c;
    color: white;
    min-width: 10px;
    max-width: 10px;
    max-height: 20px;
    border: 1px solid #2c2c2c;
    margin-left: 0;
    border-radius: 0;
}

#search_btn:hover {
    background-color: #3b8fad;
	border: 1px solid #3b8fad;
}

#search_btn:pressed {
    background-color: #1f5366;
	border: 1px solid #1f5366;
}

#search_btn:disabled {
    background-color: #1c1c1c;
    color: #7d7d7d;
    border: 1px solid #242424;
    border-radius: 0;
}

/* Add Aluno Window Buttons */
.btn_add_alunos {
    background-color: #218c4d; /* Verde escuro */
    color: white;
    border: 1px solid #1a7040;
    border-radius: 0;
}

.btn_add_alunos:hover {
    background-color: #29a65b;
	border: 1px solid #29a65b;
}

.btn_add_alunos:pressed {
    background-color: #176636;
	border: 1px solid #176636;
}

.btn_cancel {
    background-color: #b0352f; /* Vermelho queimado */
    color: white;
    border: 1px solid #8f2924;
    border-radius: 0;
}

.btn_cancel:hover {
    background-color: #cd5c58;
	border: 1px solid #cd5c58;
}

.btn_cancel:pressed {
    background-color: #8b1f1a;
	border: 1px solid #8b1f1a;
}

/* ===== INPUT FIELDS ===== */
QLineEdit, QTextEdit, QPlainTextEdit {
    border: 1px solid #5e5e5e;
    border-radius: 0;
    padding: 5px;
    background: #2c2c2c;
    color: #e0e0e0;
    selection-background-color: #3c6e91;
    selection-color: white;
}

QLineEdit:focus, QTextEdit:focus, QPlainTextEdit:focus {
    border: 1px solid #3c6e91;
    border-radius: 0;
}

#search_field {
    background-color: #2c2c2c;
    border: 1px solid #2c2c2c;
    padding: 6px;
    margin-right: 0;
    border-radius: 0;
}

#search_field:hover {
	background-color: #3b3b3b;
    border: 1px solid #4a7b94;
    padding: 6px;
    margin-right: 0;
    border-radius: 0;
}

#search_field:focus {
    border: 1px solid #4a7b94;
    padding: 6px;
    margin-right: 0;
    border-radius: 0;
}

#search_field:disabled {
    background-color: #1c1c1c;
    color: #7d7d7d;
    border: 1px solid #242424;
    border-radius: 0;
}

/* ===== TABLES ===== */
QTableView {
    background-color: #2c2c2c;
	alternate-background-color: #353535;
    selection-background-color: #2e536c; /* Azul escuro */
    gridline-color: #555555;
    border: 1px solid #242424;
    border-radius: 0;
    font-size: 16px;
}

QTableView::item {
    color: #e0e0e0;
}

QTableView::item:hover {
    background-color: #4a7b94;
    padding-left: 5px;
}

QTableView::item:selected {
    background-color: #1f4055;
    color: white;
}

QTableView:disabled {
    background-color: #1c1c1c;
    color: #7d7d7d;
    border: 1px solid #242424;
    border-radius: 0;
}

QHeaderView {
    background-color: #2b2b2b;
}

QHeaderView::section {
    background-color: #2c2c2c; /* Azul escuro */
    padding: 6px;
    border: 1px solid #242424;
    font-weight: bold;
    color: #e0e0e0;
}

QHeaderView::section:hover {
    background-color: #3b8fad;
	border: 1px solid #3b8fad;
}

QHeaderView:disabled {
    background-color: #1c1c1c;
    color: #7d7d7d;
    border: 1px solid #242424;
    border-radius: 0;
}

QHeaderView::section:checked {
    background-color: #1f4055;
    color: white;
}

QHeaderView::section:disabled {
    background-color: #1c1c1c;
    color: #7d7d7d;
    border: 1px solid #242424;
    border-radius: 0;
}

/* Add Aluno Table */
QTableWidget {
    background-color: #2c2c2c;
    gridline-color: #555555;
    border: 1px solid #555555;
    border-radius: 0;
}

QTableWidget::item {
    color: #e0e0e0;
}

QTableWidget::corner {
    background-color: #3c6e91;
    border: 1px solid #2f5c77;
    border-radius: 0;
}

QTableWidget::item:selected {
    background-color: #1f4055;
    color: white;
}

/* ===== STATUS BAR - RODAPÉ ===== */
QStatusBar {
    background: #2c2c2c;
    border-top: 1px solid #555555;
	color: #e0e0e0;
	font-size: 8pt;
}

/* ===== PROGRESS BAR ===== */
QProgressBar {
    border: 1px solid #ccc;
    border-radius: 0;
    background: #2c2c2c;
}
QProgressBar::chunk {
    background: #3c6e91;
    border-radius: 0;
}
QProgressBar:indeterminate::chunk {
    background: #e0e0e0;
}

/* ===== MENU BAR ===== */
QMenuBar {
    background-color: #2c2c2c;
    font-size: 11px;
    border-bottom: 1px solid #555555;
}

QMenuBar::item {
    padding: 5px 10px;
    background: transparent;
    color: #e0e0e0;
}

QMenuBar::item:selected {
    background-color: #555555;
}

QMenuBar::item:pressed {
    background-color: #757575;
}

QMenu {
    background-color: #424242;
    border: 1px solid #555555;
    padding: 5px;
}

QMenu::item {
    padding: 5px 25px 5px 20px;
    color: #e0e0e0;
}

QMenu::item:selected {
    background-color: #2a6b82; /* Azul escuro para seleção */
    color: white;
}

QMenu::separator {
    height: 1px;
    background: #555555;
    margin: 5px 0;
}

/* ===== DIALOGS ===== */
QDialog {
    background-color: #2e2e2e; /* alterado para tema escuro */
}

QLabel {
    color: #e0e0e0;
}

/* Barra de rolagem vertical */
QScrollBar:vertical {
    background: #2D2D2D;
    margin: 0px;
}

/* Handle (parte que desliza) da barra de rolagem vertical */
QScrollBar::handle:vertical {
    background: #5E5E5E;
    min-height: 20px;
    border-radius: 0;
    margin-top: 25px; /* Espaço para o botão superior */
    margin-bottom: 16px; /* Espaço para o botão inferior */
}

/* Hover no handle vertical */
QScrollBar::handle:vertical:hover {
    background: gray;
}

/* Botão superior da barra de rolagem vertical */
QScrollBar::sub-line:vertical {
    background: #2d2d2d; /* Cor personalizada para o botão superior */
    height: 25px; /* Altura do botão */
    subcontrol-origin: margin;
    subcontrol-position: top; /* Posiciona no topo */
    /* Restaurando a seta */
    image: url(assets/images/arrow_up.png); /* Substitua pelo caminho da imagem da seta */
    border: none; /* Sem bordas para manter o design limpo */
}

QScrollBar::sub-line:vertical:hover {
    background: gray;
}

/* Botão inferior da barra de rolagem vertical */
QScrollBar::add-line:vertical {
    background: #444444; /* Cor personalizada para o botão inferior */
    height: 16px; /* Altura do botão */
    subcontrol-origin: margin;
    subcontrol-position: bottom; /* Posiciona na parte inferior */
}

/* Remove o fundo entre os botões e o handle */
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/* Barra de rolagem horizontal */
QScrollBar:horizontal {
    background: #2D2D2D;
    margin: 0px;
}

/* Handle (parte que desliza) da barra de rolagem horizontal */
QScrollBar::handle:horizontal {
    background: #5E5E5E;
    border-radius: 0;
    margin-left: 16px; /* Espaço para o botão esquerdo */
    margin-right: 16px; /* Espaço para o botão direito */
}

/* Hover no handle horizontal */
QScrollBar::handle:horizontal:hover {
    background: #808080;
}

/* Botão esquerdo da barra de rolagem horizontal */
QScrollBar::sub-line:horizontal {
    background: #444444; /* Cor personalizada para o botão esquerdo */
    width: 16px; /* Largura do botão */
    subcontrol-origin: margin;
    subcontrol-position: left; /* Posiciona à esquerda */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Botão direito da barra de rolagem horizontal */
QScrollBar::add-line:horizontal {
    background: #444444; /* Cor personalizada para o botão direito */
    width: 16px; /* Largura do botão */
    subcontrol-origin: margin;
    subcontrol-position: right; /* Posiciona à direita */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Remove o fundo entre os botões e o handle */
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

/* ===== CORNER BUTTON COVER ===== */
#cornerSquare {
    background-color: #2c2c2c;
	color: #e0e0e0;
    border: 1px solid #242424;
    border-radius: 0;
}

#cornerSquare:hover {
    background-color: #3b8fad;
	border: 1px solid #3b8fad;
}

#cornerSquare:disabled {
    background-color: #1c1c1c;
	border: 1px solid #242424;
}
